{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th style="min-width: 150px">Name</th>
            <th>C/100g</th>
            <th>Amount</th>
            <th>Cals</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.name }}</td>
                <td>{{ record.caloriesperhundredgram }}</td>
                <td>{{ record.amount }}</td>
                <td>{{ record.calories }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><b>{{ sum }}</b></td>
        </tr>
        <tr>
            {{ form_start(form) }}
            <td>{{ form_row(form.name) }}</td>
            <td>{{ form_row(form.caloriesperhundredgram) }}</td>
            <td>{{ form_row(form.amount) }}</td>
            <td> {{ form_row(form.submit) }}</td>
            {{ form_end(form) }}
        </tr>
        </tbody>
    </table>
{% endblock %}