{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Calories/100g</th>
                <th>Amount</th>
                <th>Calories</th>
            </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.name }}</td>
                <td>{{ record.caloriesperhundredgram }}</td>
                <td>{{ record.amount }}</td>
                <td>{{ record.calories }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><b>{{ sum }}</b></td>
            </tr>
        </tbody>
    </table>
    {{ form(form) }}
{% endblock %}